<div class="text-center">
  <p-sidebar
    id="formDialog"
    [(visible)]="showDialog"
    (onHide)="hideDialog()"
    position="bottom"
    [blockScroll]="true"
    [dismissible]="true"
    [showCloseIcon]="true"
    [closeOnEscape]="true"
    [style]="getSidebarStyle()"
    [autoZIndex]="true"
    [modal]="true">
    <!-- [baseZIndex]="1000" -->
    <ng-template pTemplate="header">
      <div class="flex justify-content-center w-full" (swipedown)="hideDialog()">
        <p-divider [style]="{ 'width': '50px', 'margin-left': '2rem' }"></p-divider>
      </div>
    </ng-template>
    <ng-template pTemplate="content" [formGroup]="form">
      <div class="grid formgrid px-4">
        <h5 class="category-title mb-4">Your Cart</h5>

        <div class="col-12">
          <p-scrollPanel formArrayName="products" [style]="{ width: '100%', height: '60vh', overflow: 'auto' }">
            <div *ngIf="products().length === 0" class="flex justify-content-center align-items-center w-full h-full">
              <p class="text-md">Empty</p>
            </div>

            <div class="my-2" *ngFor="let product of products().controls; index as i" [formGroupName]="i">
              <div class="flex gap-3 w-full">
                <div class="w-fit">
                  <img
                    [alt]="product.value['name']"
                    [src]="getImageSrc(product.value['image'])"
                    (load)="isLoading = false"
                    class="shadow-4 object-fit-cover"
                    style="border-radius: 1rem"
                    width="80px"
                    height="80px" />
                </div>

                <div class="flex flex-column w-full align-items-start justify-space-between gap-2 mt-2 mb-3">
                  <span class="text-md font-semibold text-capitalize"> {{ i + 1 }}. {{ product.value.name }} </span>
                  <div formArrayName="options">
                    <div *ngFor="let option of product.get('options').value; index as j">
                      <div class="text-left text-sm">
                        <span class="font-semibold text-capitalize"> {{ option.name }}: </span>
                        <span class="text-capitalize"> {{ getOptionValues(option.values) }} </span>
                      </div>
                    </div>
                  </div>
                  <div class="flex justify-space-between align-items-center w-full gap-2 mt-auto text-sm font-semibold">
                    <label class="text-start w-full">
                      {{ product.value['price'] | custom }}
                    </label>
                    <label class="text-end text-right w-full">
                      {{ product.value['totalPrice'] | custom }}
                    </label>
                  </div>
                </div>
              </div>

              <div class="p-inputgroup mt-3">
                <span class="p-inputgroup-addon">
                  <i class="pi pi-comment" style="line-height: 1.25"></i>
                </span>
                <input pInputText type="text" placeholder="Leave me a note..." formControlName="notes" />
              </div>

              <div class="flex align-items-center justify-content-end gap-3 mt-3">
                <button pButton pRipple icon="pi pi-trash" class="p-button-text" (click)="removeProduct(i)"></button>
                <button
                  pButton
                  pRipple
                  icon="pi pi-minus"
                  class="p-button-outlined p-button-rounded"
                  [disabled]="product.value['quantity'] === 1"
                  (click)="decrement(i)"></button>
                <label class="font-bold">{{ product.value['quantity'] }}</label>
                <button
                  pButton
                  pRipple
                  icon="pi pi-plus"
                  class="p-button-outlined p-button-rounded p-button-quantity"
                  (click)="increment(i)"></button>
              </div>

              <p-divider></p-divider>
            </div>
          </p-scrollPanel>
        </div>

        <div class="col-12 flex flex-col gap-3 py-3 h-auto" *ngIf="products().length > 0">
          <div
            pRipple
            class="col flex align-items-center justify-content-between bg-primary cursor-pointer px-4"
            style="height: 3rem; border-radius: 50px"
            (click)="onSubmit()"
            [disabled]="isLoading">
            <div>
              <i class="pi pi-check mr-2 font-bold"></i>
              <label class="font-bold cursor-pointer">Checkout</label>
            </div>
            <label class="font-bold cursor-pointer">
              {{ form.value['totalPrice'] | custom }}
            </label>
          </div>
        </div>
      </div>
    </ng-template>
  </p-sidebar>
</div>
