<div class="border-round border-1 surface-border p-4 mt-3" *ngIf="isLoading">
  <!-- <div class="flex mb-3">
        <p-skeleton shape="circle" size="4rem" styleClass="mr-2"></p-skeleton>
        <div>
            <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
            <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
            <p-skeleton height=".5rem"></p-skeleton>
        </div>
    </div>
    <p-skeleton width="100%" height="150px"></p-skeleton>
    <div class="flex justify-content-between mt-3">
        <p-skeleton width="4rem" height="2rem"></p-skeleton>
        <p-skeleton width="4rem" height="2rem"></p-skeleton>
    </div> -->
  <p-skeleton width="25rem" height="2rem" styleClass="p-mb-3" borderRadius="20px"> </p-skeleton>
  <p-skeleton width="15rem" height="3rem" styleClass="p-mb-3" borderRadius="20px"> </p-skeleton>
  <p-skeleton width="5rem" borderRadius="20px"> </p-skeleton>
</div>
<div class="text-center" [ngStyle]="{ visibility: isLoading ? 'hidden' : '' }">
  <img
    [alt]="product.name"
    [src]="getImageSrc(product.image)"
    (load)="isLoading = false"
    class="shadow-4 w-full rounded object-fit-cover"
    width="300px"
    height="300px" />
  <div>
    <h6 class="my-4 text-primary text-lg font-semibold">{{ product.price | currency }}</h6>
    <p class="my-1" style="width: 300px; text-align: justify">{{ capitalizeFirstLetter(product.description) }}</p>
    <div class="mt-4 mb-2">
      <button
        pButton
        icon="pi pi-shopping-cart"
        label="Add to Cart"
        [disabled]="sharedService.isLoggedIn"
        (click)="addToCart(product)"
        class="p-button-primary p-button-outlined"></button>
    </div>
  </div>
</div>
