<div class="grid">
  <div class="col-12">
    <div class="card">
      <div class="flex align-items-center justify-content-between mb-4">
        <h5 class="card-title">Manage Categories</h5>
        <div class="flex gap-2">
          <button pButton pRipple class="p-button" (click)="onAdd()" *ngIf="true">Add</button>
          <button pButton pRipple class="p-button" (click)="onAdd()" *ngIf="false">Save</button>
        </div>
      </div>

      <div cdkDropList [cdkDropListData]="nodes" (cdkDropListDropped)="onNodeDrop($event)" class="p-tree">
        <div cdkDrag class="p-treeselect highlight cursor-pointer border-none" (click)="onNodeSelect(item)" *ngFor="let item of nodes">
          <p class="p-treeselect-label ml-2">{{ item.label }}</p>
        </div>
      </div>

      <!-- <p-tree
        class="mt-4"
        [value]="nodes"
        selectionMode="single"
        [loading]="isLoading"
        [emptyMessage]="getEmptyMessage(isLoading)"
        [(selection)]="selectedNode"
        [draggableNodes]="true"
        [droppableNodes]="false"
        (onNodeDrop)="onNodeDrop($event)"
        (onNodeSelect)="onNodeSelect($event)"></p-tree> -->
    </div>
  </div>
</div>

<!-- CATEGORY DIALOG -->
<p-dialog
  [maximizable]="true"
  [header]="selectedNode ? 'Edit Category' : 'Add Category'"
  [(visible)]="showCategoryDialog"
  (onHide)="this.form.reset()"
  [contentStyle]="{ overflow: 'visible' }"
  [style]="{ width: '40vw', height: 'auto' }"
  [dismissableMask]="true"
  [closeOnEscape]="true"
  [breakpoints]="dialogBreakpoints"
  modal="true"
  [blockScroll]="true"
  showEffect="fade">
  <div [formGroup]="form" (keyup.enter)="onSubmit()" class="p-fluid px-2">
    <div class="col-12">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-pencil" style="line-height: 1.25"></i></span>
        <input pInputText type="text" placeholder="Name" formControlName="label" class="text-capitalize" />
      </div>
    </div>

    <div class="flex mt-4" [ngClass]="selectedNode ? 'justify-content-between' : 'justify-content-end'">
      <button
        *ngIf="selectedNode"
        pButton
        pRipple
        (click)="onDeleteCategory()"
        [disabled]="isLoading"
        class="p-button-danger p-button-outlined"
        icon="pi pi-trash"></button>
      <div class="flex gap-2">
        <button
          pButton
          pRipple
          icon="pi pi-times"
          (click)="showCategoryDialog = false"
          label="Cancel"
          [disabled]="isLoading"
          class="w-auto p-button-danger p-button-outlined"></button>
        <button
          pButton
          pRipple
          icon="pi pi-check"
          (click)="onSubmit()"
          label="Save"
          [disabled]="isLoading"
          class="w-auto p-button-outlined"></button>
      </div>
    </div>
  </div>
</p-dialog>
<!-- CATEGORY DIALOG -->
