<app-skeleton *ngIf="isLoading"></app-skeleton>
<div class="text-center" [ngStyle]="{ visibility: isLoading ? 'hidden' : '' }">
    <img
        #imageDialog
        class="shadow-4"
        (load)="isLoading = false"
        [alt]="product.name"
        src="assets/demo/images/product/{{ product.image }}"
        width="100%" />
    <div>
        <h6 class="my-3 text-primary font-semibold">Rp{{ product.price }}</h6>
        <p class="my-2">{{ product.description }}</p>
        <div class="mt-4 mb-2">
            <button
                pButton
                icon="pi pi-shopping-cart"
                label="Add to Cart"
                (click)="addToCart(product)"
                class="p-button-primary p-button-outlined">
            </button>
        </div>
    </div>
</div>
