<div id="featuredProducts" class="grid">
    <div class="col-12">
        <div class="card" *ngIf="featuredProducts.length > 0">
            <h5 class="category-title">Featured</h5>
            <swiper [config]="swiperOptions" #swiper>
                <ng-template *ngFor="let product of featuredProducts" swiperSlide>
                    <div class="border-round my-2 text-center" style="border: 1px solid var(--surface-d)">
                        <div class="m-2 mb-3" style="cursor: pointer">
                            <!-- [src]=" product.image ? env.publicPath + product.image : env.imagePath +
                            '/default_product.png' " -->
                            <img
                                src="assets/demo/images/product/{{ product.image }}"
                                onerror="this.src='assets/images/default_product.png'"
                                [alt]="product.name"
                                (click)="onClickImage(product)"
                                class="shadow-4"
                                width="100%" />
                        </div>
                        <div>
                            <h6 class="my-2">{{ product.name }}</h6>
                            <p class="mt-0 mb-3 text-primary">Rp{{ product.price }}</p>
                        </div>
                    </div>
                </ng-template>
            </swiper>
        </div>
    </div>
</div>

<p-dataView #dv id="listProducts" [value]="products" [paginator]="true" [rows]="12" layout="grid">
    <ng-template pTemplate="header">
        <div class="grid">
            <div class="col-3 p-fluid" style="width: fit-content">
                <button
                    pButton
                    [label]="params === 'root' ? 'Filter' : params"
                    icon="pi pi-sliders-v"
                    (click)="appMain.toggleMenu($event)"
                    class="p-button-plain p-button-rounded p-button-outlined"
                    style="height: 100%; text-transform: capitalize"></button>
            </div>
            <div class="col p-fluid">
                <span class="p-input-icon-left input-rounded" style="height: 100%">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" placeholder="Search..." class="font-semibold" clearButton="true" />
                </span>
            </div>
        </div>
    </ng-template>
    <ng-template let-product pTemplate="gridItem">
        <div class="col-6 md:col-3">
            <div class="card mat m-2 surface-border">
                <div class="text-center" style="cursor: pointer">
                    <img
                        class="w-full shadow-2"
                        [src]="product.image ? env.publicPath + product.image : env.imagePath + '/default_product.png'"
                        [alt]="product.name"
                        (click)="onClickImage(product)" />
                    <div class="product-name text-md font-semibold m-3 mb-0">
                        <span class="text-capitalize max-lines-2">{{ product.name }}</span>
                    </div>
                </div>
                <!-- <div class="flex align-items-center justify-content-between pb-3 pr-3 pl-3"> -->
                <!-- <p-divider class="my-0"></p-divider> -->
                <div class="product-footer px-4">
                    <span class="text-sm font-semibold ml-2">Rp{{ product.price }}</span>
                    <button
                        pButton
                        pRipple
                        icon="pi pi-shopping-cart"
                        class="p-button-rounded"
                        (click)="onAddToCart(product)"
                        type="button">
                    </button>
                </div>
            </div>
        </div>
    </ng-template>
</p-dataView>

<app-order-dialog
    *ngIf="showOrderFormDialog"
    (onChange)="onShowOrderFormDialogChange($event)"
    [showDialog]="showOrderFormDialog"
    [selectedProduct]="selectedProduct">
</app-order-dialog>
