<div id="featuredProducts" class="grid">
  <div class="col-12">
    <div @moveUp class="card" *ngIf="!selectedCategory && featuredProducts.length > 1">
      <h5 class="category-title">Featured</h5>
      <swiper [config]="swiperOptions" #swiper>
        <ng-template *ngFor="let product of featuredProducts" swiperSlide>
          <div class="border-round my-2 text-center" style="border: 1px solid var(--surface-d)">
            <div class="m-2 mb-3" style="cursor: pointer">
              <img
                [alt]="product.name"
                [src]="getImageUrl(product.image)"
                (click)="onClickProduct(product)"
                class="shadow-4 object-fit-cover"
                width="300px"
                height="300px" />
            </div>
            <div>
              <h6 class="text-capitalize my-2">{{ product.name }}</h6>
              <p class="text-primary text-sm font-semibold mt-0 mb-3">
                {{ product.price | custom }}
              </p>
            </div>
          </div>
        </ng-template>
      </swiper>
    </div>
  </div>
</div>

<p-dataView
  id="listProducts"
  layout="grid"
  [value]="products"
  [paginator]="true"
  [loading]="isLoading"
  [lazy]="true"
  (onLazyLoad)="getProducts($event)"
  [rows]="20"
  [totalRecords]="pagingInfo.rowCount"
  [pageLinks]="5"
  [alwaysShowPaginator]="true">
  <ng-template pTemplate="header">
    <div class="grid">
      <div class="col-3 p-fluid pl-0" style="width: fit-content">
        <button
          pButton
          [label]="selectedCategory?.label ?? 'Filter'"
          icon="pi pi-sliders-v"
          (click)="appMain.toggleMenu($event)"
          class="p-button-plain p-button-rounded p-button-outlined"
          style="height: 100%; text-transform: capitalize"></button>
      </div>
      <div class="col p-fluid">
        <span class="p-input-icon-left input-rounded" style="height: 100%">
          <i class="pi pi-search"></i>
          <input pInputText type="search" placeholder="Search..." class="font-semibold" [formControl]="filterCtrl" />
          <!-- (input)="filterProduct($event.target.value)"  -->
        </span>
      </div>
    </div>
  </ng-template>
  <ng-template let-product pTemplate="gridItem">
    <div class="col-6 md:col-4">
      <div class="card mat m-2 surface-border">
        <div class="grid">
          <div class="col-12 mb-2 cursor-pointer pa-2" (click)="onClickProduct(product)">
            <img class="object-fit-cover w-full shadow-2" [src]="getImageUrl(product.image)" [alt]="product.name" />
          </div>
          <div class="col-12 mx-4">
            <span class="text-left text-lg text-capitalize font-semibold max-lines-2">
              {{ product.name }}
            </span>
          </div>
          <div class="col-12 mx-4 no-pt">
            <span class="text-left text-md">{{ product.price | custom }}</span>
          </div>
          <div class="col-12 text-center mt-2">
            <button pButton pRipple label="Add to Cart" class="p-button-rounded p-button-outlined" (click)="onAddToCart(product)" type="button"></button>
          </div>
        </div>
        <!-- <div style="cursor: pointer">
                    <img
                        class="w-full shadow-2"
                        [src]="product.image ? env.publicPath + product.image : env.imagePath + '/default_product.png'"
                        [alt]="product.name"
                        (click)="onClickImage(product)" />

                    <div class="text-md font-semibold m-3">
                        <div class="col-12">
                            <span class="text-left text-capitalize max-lines-2">{{ product.name }}</span>
                        </div>
                        <div class="col-12">
                            <span class="text-left text-sm">{{ product.price | custom }}</span>
                            <button
                                pButton
                                pRipple
                                class="p-button-rounded p-button-outlined"
                                (click)="onAddToCart(product)"
                                type="button">
                                Add to Cart
                            </button>
                        </div>
                    </div>
                </div> -->
        <!-- <div class="flex align-items-center justify-content-between pb-3 pr-3 pl-3"> -->
        <!-- <p-divider class="my-0"></p-divider> -->
        <!-- <div class="product-footer px-4"> </div> -->
      </div>
    </div>
  </ng-template>
</p-dataView>

<app-order-dialog *ngIf="showOrderDialog" [showDialog]="showOrderDialog" [selectedProduct]="selectedProduct" (onChange)="onShowOrderDialogChange($event)">
</app-order-dialog>
