:host ::ng-deep {
  .p-dataview .p-dataview-header {
    border-top: none;
    padding: 0px 12px 8px;
    margin-bottom: 4px;
    background: var(--surface-card);
    position: -webkit-sticky;
    position: sticky;
    top: 65px;
    z-index: 997;
  }
}