<div id="featuredProducts" class="grid">
    <div class="col-12">
        <div class="card" *ngIf="featuredProducts.length > 0">
            <h5 class="category-title">Featured</h5>
            <swiper [config]="swiperOptions" #swiper>
                <ng-template *ngFor="let product of featuredProducts" swiperSlide>
                    <div class="border-round my-2 text-center" style="border: 1px solid var(--surface-d)">
                        <div class="m-2 mb-3">
                            <img
                                src="assets/demo/images/product/{{ product.image }}"
                                [alt]="product.name"
                                (click)="onClickImage(product)"
                                class="shadow-4"
                                width="100%" />
                        </div>
                        <div>
                            <h6 class="my-2">{{ product.name }}</h6>
                            <p class="mt-0 mb-3 text-primary">Rp{{ product.price }}</p>
                        </div>
                    </div>
                </ng-template>
            </swiper>
        </div>
    </div>
</div>

<p-dataView
    #dv
    id="listProducts"
    [value]="products"
    [paginator]="true"
    [rows]="10"
    filterBy="name"
    [sortField]="sortField"
    [sortOrder]="sortOrder"
    layout="grid">
    <ng-template pTemplate="header">
        <div class="grid">
            <div class="col-4 p-fluid text">
                <span class="p-input-icon-left">
                    <i class="pi pi-sliders-v"></i>
                    <input
                        pInputText
                        type="text"
                        class="bold-placeholder"
                        [placeholder]="params === 'root' ? 'Filter' : params"
                        style="text-transform: capitalize" />
                </span>
            </div>
            <div class="col p-fluid">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" class="font-semibold" placeholder="Search..." clearButton="true" />
                </span>
            </div>
        </div>
        <!-- <span class="p-input-icon-left">
                    <i class="pi pi-sliders-v"></i>
                    <input pInputText type="text" class="bold-placeholder" placeholder="Filter" />
                </span>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" placeholder="Search" />
                </span> -->
    </ng-template>
    <ng-template let-product pTemplate="gridItem">
        <div class="col-6 md:col-4">
            <div class="card mat m-2 surface-border">
                <div class="text-center">
                    <img
                        [alt]="product.name"
                        (click)="onClickImage(product)"
                        src="assets/demo/images/product/{{ product.image }}"
                        class="w-full shadow-2" />
                    <div class="text-md font-semibold mt-3">{{ product.name }}</div>
                </div>
                <div class="flex align-items-center justify-content-between p-3">
                    <span class="text-sm font-semibold ml-2">Rp{{ product.price }}</span>
                    <p-button icon="pi pi-shopping-cart" (click)="addToCart(product)"></p-button>
                </div>
            </div>
        </div>
    </ng-template>
</p-dataView>

<!-- <div class="grid" *ngIf="products.length > 0">
    <div class="col-6" *ngFor="let data of products" (click)="onClickImage(data)">
        <div class="card p-fluid text-center">
            <img
                src="assets/demo/images/product/{{ data.image }}"
                [alt]="product.name"
                (click)="onClickImage(data)"
                class="shadow-4"
                width="100%" />
            <p>{{ data.name }}</p>
        </div>
    </div>
</div> -->
