<div (swipedown)="hideDialog()">
    <p-sidebar
        id="orderFormDialog"
        [(visible)]="showDialog"
        (onHide)="hideDialog()"
        position="bottom"
        styleClass="h-auto"
        [blockScroll]="true"
        [dismissible]="true"
        [showCloseIcon]="true"
        [closeOnEscape]="true"
        [style]="getSidebarStyle()"
        [baseZIndex]="1000">
        <ng-template pTemplate="header">
            <div class="flex justify-content-center w-full">
                <p-divider [style]="{ 'width': '50px', 'margin-left': '2rem' }"></p-divider>
            </div>
        </ng-template>
        <ng-template pTemplate="content" [formGroup]="orderForm">
            <div class="grid formgrid px-4">
                <div class="col-12" style="display: inline-block">
                    <p-scrollPanel [style]="{ width: '100%', height: 'auto', maxHeight: '60vh' }">
                        <h5 class="category-title">{{ orderForm.get('name').value }}</h5>

                        <p class="my-1" style="text-align: justify">
                            <!-- {{ capitalizeFirstLetter(orderForm.get('description').value) }} -->
                        </p>
                        <p-divider></p-divider>

                        <div formArrayName="options">
                            <div
                                *ngFor="let option of options().controls; index as i"
                                [formGroupName]="i"
                                class="card my-3">
                                <!-- <p>{{ option.value.name }}</p> -->

                                <div class="flex justify-content-between mb-3">
                                    <span class="text-md font-semibold">{{ option.value.name }}</span>
                                    <p class="text-xs font-semibold" style="color: grey">
                                        {{ option.value.required === true ? '*required' : '*optional' }}
                                    </p>
                                </div>

                                <div formArrayName="values">
                                    <div
                                        *ngFor="let optionValue of optionValues(i).controls; index as j"
                                        [formGroupName]="j"
                                        class="flex flex-col align-items-center justify-content-between mt-0">
                                        <span class="text-sm">{{ optionValue.value.value }}</span>
                                        <!-- <div class="field-checkbox mb-0"> -->
                                        <div class="flex align-items-center gap-2">
                                            <!-- <label class="text-sm">{{ getOptionValuePrice(optionValue.value) }}</label> -->
                                            <label class="text-xs font-semibold">
                                                {{
                                                    optionValue.value.price === 0
                                                        ? 'Free'
                                                        : '+' + (optionValue.value.price | custom)
                                                }}
                                            </label>
                                            <p-checkbox
                                                id="selected"
                                                binary="true"
                                                formControlName="selected"
                                                class="text-sm mr-2"></p-checkbox>
                                        </div>
                                        <!-- </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 flex align-items-center justify-content-between py-2">
                            <label class="font-semibold">Quantity</label>
                            <div class="flex flex-col align-items-center gap-3">
                                <button
                                    pButton
                                    icon="pi pi-minus"
                                    class="p-button-outlined p-button-rounded"
                                    [disabled]="orderForm.get('qty').value === 1"
                                    (click)="decrement()">
                                </button>

                                <label class="font-bold">{{ orderForm.get('qty').value }}</label>
                                <button
                                    pButton
                                    icon="pi pi-plus"
                                    class="p-button-outlined p-button-rounded p-button-qty"
                                    (click)="increment()">
                                </button>
                            </div>
                        </div>
                    </p-scrollPanel>
                </div>

                <div class="flex flex-col col-12 gap-3 pb-3">
                    <button
                        pButton
                        icon="pi pi-whatsapp"
                        class="p-button-sm p-button-outlined p-button-rounded"
                        (click)="onClickWa()">
                    </button>
                    <div
                        class="col flex align-items-center justify-content-between bg-primary px-4"
                        style="border-radius: 50px"
                        (click)="insertToCart()">
                        <label class="font-semibold">+ Add to Cart</label>
                        <label class="font-bold">
                            {{ totalPrice | custom }}
                        </label>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-sidebar>
</div>
