<div class="w-full h-full">
  <div id="featuredProducts" class="grid" *ngIf="!isLoading && !filterCtrl.dirty && !selectedCategory && featuredProducts.length > 1">
    <div class="col-12">
      <div @moveUp class="card mb-4">
        <h5 class="card-title">Featured</h5>
        <swiper [config]="swiperOptions" #swiper>
          <ng-template *ngFor="let product of featuredProducts" swiperSlide>
            <div class="border-round my-2 text-center" style="border: 1px solid var(--surface-d)">
              <div class="m-2 mb-3" style="cursor: pointer">
                <img
                  onerror="this.src='assets/images/default_product.png'"
                  [alt]="product.name"
                  [src]="getImageSrc(product.image)"
                  (click)="onClickProduct(product)"
                  class="shadow-4 object-fit-cover"
                  width="300px"
                  height="300px" />
              </div>
              <div>
                <h6 class="text-capitalize my-2">{{ product.name }}</h6>
                <p class="text-primary text-sm font-semibold mt-0 mb-3">
                  {{ product.price | currency }}
                </p>
              </div>
            </div>
          </ng-template>
        </swiper>
      </div>
    </div>
  </div>

  <div class="filter-search w-full grid gap-3 py-3 pl-2 pr-0 ml-0 mb-4">
    <div class="col-3 w-fit p-fluid p-0">
      <button
        pButton
        [label]="selectedCategory?.label ?? 'Filter'"
        icon="pi pi-sliders-v"
        (click)="onClickFilter($event)"
        class="p-button-plain p-button-rounded p-button-outlined"></button>
    </div>
    <div class="col p-fluid p-0">
      <span class="p-input-icon-left input-rounded" style="height: 100%">
        <i class="pi pi-search"></i>
        <input
          pInputText
          id="filter"
          type="search"
          placeholder="Search..."
          class="font-semibold"
          [formControl]="filterCtrl"
          style="border: 1px solid var(--surface-500)" />
      </span>
    </div>
  </div>

  <p-dataView
    id="listProducts"
    layout="grid"
    scrollToBottom
    (onScrollToBottom)="onScrollProducts()"
    [value]="products"
    [loading]="isLoading"
    [rows]="pagingInfo.limit"
    [totalRecords]="pagingInfo.rowCount"
    [emptyMessage]="getEmptyMessage(isLoading)"
    [ngClass]="true && 'v'">
    <ng-template let-product pTemplate="gridItem">
      <div class="col-6 md:col-4">
        <div class="h-full m-2">
          <div class="card m-0 p-0 h-full flex flex-column mat surface-border">
            <div class="cursor-pointer" (click)="onClickProduct(product)">
              <img
                onerror="this.src='assets/images/default_product.png'"
                class="object-fit-cover w-full shadow-2"
                [src]="getImageSrc(product.image)"
                [alt]="product.name" />
            </div>
            <div class="flex flex-column w-full h-full gap-2 p-3">
              <span class="text-left text-lg text-capitalize font-semibold max-lines-2"> {{ product.name }} </span>
              <span class="text-left text-md">{{ product.price | currency }}</span>
              <div class="text-center mt-auto">
                <button
                  pButton
                  pRipple
                  label="Add to Cart"
                  class="p-button-rounded p-button-outlined"
                  (click)="onAddToCart(product)"
                  type="button"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>

<app-add-to-cart-dialog *ngIf="showOrderDialog" [showDialog]="true" [data]="selectedProduct" (onHide)="showOrderDialog = false">
</app-add-to-cart-dialog>

<button
  *ngIf="customerService.orders.length"
  pButton
  icon="pi pi-shopping-bag"
  label="Order"
  class="p-button-rounded fab-button"
  (click)="onClickOrders()">
  <!-- <p-badge [value]="2"></p-badge> -->
</button>
