<div class="grid">
  <div class="col-12">
    <div class="card">
      <div class="flex align-items-center justify-content-between mb-4">
        <h5 class="card-title">Manage Products</h5>
        <div class="flex gap-2">
          <button pButton pRipple class="p-button" (click)="onEditProduct()" [disabled]="isEmpty(selectedProduct)">Edit</button>
          <button pButton pRipple class="p-button" (click)="onAddProduct()">Add</button>
        </div>
      </div>
      <!-- scrollHeight="400px" -->
      <!-- [loading]="isLoading" -->
      <p-table
        #tb
        dataKey="id"
        [paginator]="true"
        [pageLinks]="3"
        [loading]="isLoading"
        [rowsPerPageOptions]="[10, 20, 50, 100]"
        [rows]="pagingInfo.limit"
        [sortField]="pagingInfo.sortField"
        [sortOrder]="getSortOrder(pagingInfo)"
        [totalRecords]="pagingInfo.rowCount"
        [lazy]="true"
        [filterDelay]="500"
        (onLazyLoad)="getProducts($event)"
        [value]="products"
        [rowHover]="true"
        [scrollable]="true"
        scrollDirection="both"
        selectionMode="single"
        [(selection)]="selectedProduct"
        responsiveLayout="scroll">
        <ng-template pTemplate="caption">
          <div class="flex justify-content-end flex-column sm:flex-row">
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="search"
                (input)="tb.filterGlobal($event.target.value, 'contains')"
                placeholder="Search ..."
                class="w-full" />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 4rem"></th>
            <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
            <th>Image</th>
            <th pSortableColumn="category_id">Category <p-sortIcon field="category_id"></p-sortIcon></th>
            <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon></th>
            <th pSortableColumn="featured">Featured <p-sortIcon field="featured"></p-sortIcon></th>
            <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th>
            <th pSortableColumn="created_at">Date Created <p-sortIcon field="created_at"></p-sortIcon></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-product>
          <tr [pSelectableRow]="product">
            <td>
              <p-tableCheckbox [pSelectableRow]="product" [value]="product"></p-tableCheckbox>
            </td>
            <td style="min-width: 100px" class="product-badge text-capitalize">{{ product.name }}</td>
            <td>
              <img
                onerror="this.src='assets/images/default_product.png'"
                [alt]="product.name"
                [src]="getImageSrc(product.image)"
                class="shadow-4 object-fit-cover"
                width="80px"
                height="80px" />
            </td>
            <td style="min-width: 10rem">{{ getCategoryLabel(product.categoryId) }}</td>
            <!-- <td style="min-width: 8rem">{{ product.price | currency: 'IDR' }}</td> -->
            <td style="min-width: 8rem">{{ product.price | currency }}</td>
            <td>
              <span class="product-badge">
                {{ product.featured ? 'Featured' : '' }}
              </span>
            </td>
            <td>
              <span class="product-badge">
                {{ product.status ? 'Active' : 'Inactive' }}
              </span>
            </td>
            <td style="min-width: 8rem">{{ product.createdAt | date: 'MMM d, y' }}</td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td colspan="100%">
              <div class="flex my-3 align-items-center justify-content-center">
                {{ getEmptyMessage(isLoading) }}
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<!-- PRODUCT DIALOG -->
<div [formGroup]="form">
  <p-dialog
    [maximizable]="true"
    [header]="selectedProduct ? 'Edit Product' : 'Add Product'"
    [(visible)]="showProductDialog"
    (onHide)="resetProductDialog()"
    [style]="{ width: '40vw', height: 'auto' }"
    [breakpoints]="dialogBreakpoints"
    [dismissableMask]="false"
    [closeOnEscape]="false"
    [blockScroll]="true"
    modal="true"
    showEffect="fade">
    <div class="p-fluid px-2">
      <div class="grid my-3">
        <div class="col-12 flex justify-content-center" *ngIf="selectedProductImage || selectedProduct?.image">
          <img
            [src]="selectedProductImage?.preview ?? getImageSrc(selectedProduct.image)"
            (load)="isLoading = false"
            alt="preview"
            class="shadow-4 object-fit-cover"
            width="200px"
            height="200px" />
        </div>
        <div class="col-12 flex justify-content-end mb-3">
          <p-fileUpload
            #fileUpload
            mode="basic"
            accept="image/*"
            [customUpload]="true"
            (uploadHandler)="onSelectImage($event, fileUpload)"
            [auto]="true"
            chooseLabel="Choose Image">
          </p-fileUpload>
        </div>
        <div class="col-12 flex justify-content-between">
          <div class="field-checkbox mb-0">
            <p-checkbox label="Active" formControlName="status" binary="true"></p-checkbox>
          </div>
          <div class="field-checkbox mb-0">
            <p-checkbox label="Featured" formControlName="featured" binary="true"></p-checkbox>
          </div>
        </div>
        <div class="col-12">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-pencil" style="line-height: 1.25"></i></span>
            <input pInputText type="text" placeholder="Name" formControlName="name" style="text-transform: capitalize" />
          </div>
        </div>
        <div class="col-12">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-hashtag"></i></span>
            <input
              pInputText
              type="text"
              placeholder="Code"
              formControlName="code"
              (keydown.space)="$event.preventDefault()"
              class="text-uppercase" />
          </div>
        </div>
        <div class="col-12">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-tags"></i></span>
            <p-dropdown
              *ngIf="showProductDialog"
              [options]="sharedService.categories"
              placeholder="Category"
              optionLabel="label"
              optionValue="id"
              formControlName="categoryId"
              [showClear]="true">
            </p-dropdown>
          </div>
        </div>

        <div class="col-12">
          <!-- <div class="p-inputgroup flex justify-content-between"> -->
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-user-edit"></i></span>
            <input pInputText type="text" disabled [placeholder]="getSelectedProductOptionsName()" />
            <button pButton pRipple class="p-button" (click)="openProductOptionsDialog()">Add</button>
          </div>
        </div>
        <div class="col-12">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-comment"></i></span>
            <textarea
              pInputTextarea
              type="text"
              formControlName="description"
              placeholder="Description"
              maxlength="100"
              rows="2"
              autoResize="autoResize"
              class="text-first">
            </textarea>
          </div>
        </div>
        <div class="col-12">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon">Rp</span>
            <p-inputNumber
              [min]="0"
              [showButtons]="true"
              formControlName="price"
              required
              placeholder="Price"
              inputId="locale-user"
              step="10000">
            </p-inputNumber>
          </div>
        </div>
      </div>
      <div class="flex mt-4" [ngClass]="selectedProduct ? 'justify-content-between' : 'justify-content-end'">
        <div *ngIf="selectedProduct">
          <button pButton pRipple icon="pi pi-trash" (click)="onDeleteProduct()" class="p-button-danger p-button-outlined"></button>
        </div>
        <div class="flex gap-2">
          <button
            pButton
            pRipple
            icon="pi pi-times"
            (click)="showProductDialog = false"
            label="Cancel"
            class="w-auto p-button-danger p-button-outlined"></button>
          <button
            pButton
            pRipple
            icon="pi pi-check"
            label="Save"
            class="w-auto p-button-outlined"
            (click)="onSubmit()"
            [disabled]="isLoading || form.invalid"></button>
        </div>
      </div>
    </div>
  </p-dialog>
  <!-- PRODUCT DIALOG -->

  <!-- OPTION DIALOG -->
  <p-dialog
    [maximizable]="true"
    header="Add Options"
    [(visible)]="showProductOptionsDialog"
    (onHide)="onHideProductOptionsDialog()"
    [style]="defaultStackedDialogConfig.style"
    [breakpoints]="dialogBreakpoints"
    [dismissableMask]="false"
    [closeOnEscape]="false"
    modal="true"
    [blockScroll]="true"
    showEffect="fade">
    <div formArrayName="options" class="p-fluid px-2">
      <div *ngFor="let option of options().controls; index as i" [formGroupName]="i" class="card p-1 mb-3">
        <div class="col-12 flex align-items-center justify-content-between mt-2">
          <div class="field-checkbox mb-0">
            <p-checkbox binary="true" label="Multiple Choices" formControlName="multiple" class="text-sm"></p-checkbox>
          </div>
          <div class="field-checkbox mb-0">
            <p-checkbox binary="true" label="Required" formControlName="required" class="text-sm"></p-checkbox>
          </div>
        </div>

        <div class="col-12 pb-0">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon font-semibold">
              {{ i + 1 }}
            </span>
            <input pInputText type="text" formControlName="name" placeholder="Name, Example: Milk" class="text-capitalize" />
            <button pButton pRipple icon="pi pi-trash" class="p-button-danger" (click)="deleteOption(i)"></button>
          </div>
        </div>

        <div formArrayName="values" class="col-12">
          <div *ngFor="let value of optionValues(i).controls; index as j" [formGroupName]="j">
            <div class="col-12">
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon font-semibold">
                  {{ toLetter(j) }}
                </span>
                <input pInputText type="text" placeholder="Variant, Example: Extra Milk" formControlName="value" class="text-capitalize" />

                <button
                  pButton
                  pRipple
                  icon="pi pi-minus"
                  class="p-button-danger"
                  (click)="deleteOptionValue(i, j)"
                  [disabled]="optionValues(i).length === 1"></button>
              </div>
            </div>
            <div class="col-12">
              <p-inputNumber
                [min]="0"
                placeholder="Price, free = 0"
                formControlName="price"
                mode="currency"
                currency="IDR"
                inputId="locale-user"
                step="10000">
              </p-inputNumber>
            </div>
          </div>
        </div>

        <button
          pButton
          pRipple
          label="Variant"
          icon="pi pi-plus"
          (click)="addOptionValue(i)"
          class="w-auto p-button-text text-sm ml-2 mb-2"></button>
      </div>

      <div class="w-full flex justify-content-end">
        <button pButton pRipple class="p-button-text w-fit" label="Option" icon="pi pi-plus" (click)="addOption()"></button>
      </div>

      <div class="flex justify-content-end gap-2 mt-4">
        <button
          pButton
          pRipple
          icon="pi pi-times"
          (click)="showProductOptionsDialog = false"
          label="Cancel"
          class="w-auto p-button-danger p-button-outlined"></button>
        <button
          pButton
          pRipple
          icon="pi pi-check"
          class="w-auto p-button-outlined"
          label="Save"
          (click)="onSaveProductOptions()"
          [disabled]="options().invalid"></button>
      </div>
    </div>
  </p-dialog>
  <!-- OPTION DIALOG -->
</div>
