<div class="grid">
  <div class="col-12">
    <div class="card">
      <div class="flex align-items-center justify-content-between mb-4">
        <h5 class="category-title">Manage Orders</h5>
      </div>

      <p-table
        #tb
        dataKey="id"
        [paginator]="true"
        [pageLinks]="3"
        [loading]="isLoading"
        [rowsPerPageOptions]="[10, 20, 50, 100]"
        [rows]="10"
        sortField="id"
        [sortOrder]="-1"
        [totalRecords]="pagingInfo.rowCount"
        [lazy]="true"
        [filterDelay]="500"
        (onLazyLoad)="getOrders($event)"
        [value]="orders"
        [rowHover]="true"
        [scrollable]="true"
        scrollDirection="both"
        selectionMode="single"
        [(selection)]="selectedOrder"
        responsiveLayout="scroll">
        <ng-template pTemplate="caption">
          <div class="flex flex-column">
            <p class="text-right text-sm font-normal">Last updated at: {{ lastUpdated | date: 'MMM d, hh:mm:ss' }}</p>
            <div class="flex justify-content-between gap-3">
              <span class="p-input-icon-left w-full">
                <i class="pi pi-search"></i>
                <input
                  pInputText
                  class="w-full"
                  type="search"
                  (input)="tb.filterGlobal($event.target.value, 'contains')"
                  placeholder="Search ..." />
              </span>
              <div class="w-auto">
                <button pButton pRipple type="button" (click)="getOrders()" icon="pi pi-refresh" class="p-button-outlined"></button>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr (click)="viewOrder(data)">
            <!-- <th style="width: 4rem"></th> -->
            <th pSortableColumn="id">No. <p-sortIcon field="id"></p-sortIcon></th>
            <th>Order ID</th>
            <th>Table</th>
            <th>Products</th>
            <th pSortableColumn="total_price">Amount <p-sortIcon field="totalPrice"></p-sortIcon></th>
            <th pSortableColumn="created_at">Date Issued <p-sortIcon field="createdAt"></p-sortIcon></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-data let-i="rowIndex">
          <tr (click)="viewOrder(data)" style="cursor: pointer">
            <td>{{ data.id }}</td>
            <td>{{ data.orderCode }}</td>
            <td style="min-width: 100px" class="text-capitalize">Table {{ data.tableName }}</td>
            <td style="min-width: 100px" class="text-capitalize">
              {{ data.productsName }}
            </td>
            <td style="min-width: 8rem">
              {{ data.totalPrice | custom }}
            </td>
            <td>
              <p>{{ data.createdAt | date: 'MMM d, hh:mm' }}</p>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td colspan="100%">
              <div class="flex my-3 align-items-center justify-content-center">No results found.</div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <div class="w-auto" *ngIf="showPrintReceiptDialog">
    <div class="order-receipt">
      <div id="pdfContent">
        <!-- <div class="orderNo">{ selectedOrderReceipt.tableId + '#' + selectedOrderReceipt.orderCode }}</div> -->
        <!-- <div class="orderNo">{{ '#' + selectedOrderReceipt.orderCode }}</div> -->
        <div class="orderNo">Table {{ selectedOrderReceipt.table }} #{{ selectedOrderReceipt.orderCode }}</div>
        <div class="headerSubTitle font-bold py-1">Order Receipt</div>
        <div id="date">{{ env.shop.name }}, +{{ env.shop.phone }}</div>
        <div id="date">{{ env.shop.address.line1 }}</div>
        <div id="date">{{ env.shop.address.line2 }}</div>
        <div id="date">{{ env.shop.address.line3 }}</div>
        <div class="my-2"></div>
        <div id="date">{{ selectedOrderReceipt.createdAt | date: 'EEEE, MMM d yyyy @ HH:mm:ss (a)' }}</div>

        <hr />

        <div class="products">
          <table class="w-full">
            <tbody>
              <th class="text-lg pb-2">DINE IN</th>
              <tr *ngFor="let data of selectedOrderReceipt.products">
                <!-- <td class="w-full"> -->
                <td class="flex flex-column">
                  <span>{{ data.name }}</span>
                  <div class="flex align-items-center justify-content-center w-full">
                    <span class="w-full text-right">{{ data.price | custom }}</span>
                    <span class="w-full text-right">x{{ data.quantity }}</span>
                    <span class="w-full text-right">{{ data.price | custom }}</span>
                  </div>
                </td>
              </tr>
              <hr />
              <tr>
                <td class="flex justify-content-between">
                  <span>SUBTOTAL</span>
                  <span>{{ selectedOrderReceipt.subTotal | custom }}</span>
                </td>
              </tr>
              <tr>
                <td class="flex justify-content-between">
                  <span>TAXES</span>
                  <span>{{ selectedOrderReceipt.taxes | custom }}</span>
                </td>
              </tr>
              <tr>
                <td class="flex justify-content-between font-bold">
                  <span>TOTAL</span>
                  <span>{{ selectedOrderReceipt.total | custom }}</span>
                </td>
              </tr>
              <hr />
              <tr>
                <td class="flex justify-content-end">
                  <!-- <span>RECEIVED AMOUNT</span> -->
                  <span>{{ selectedOrderReceipt?.paymentMethod?.name }}</span>
                </td>
              </tr>
              <tr>
                <td class="flex justify-content-between">
                  <span>RECEIVED AMOUNT</span>
                  <span>{{ selectedOrderReceipt.receivedAmount | custom }}</span>
                </td>
              </tr>
              <tr>
                <td class="flex justify-content-between">
                  <span>CHANGES</span>
                  <span>{{ selectedOrderReceipt.changes | custom }}</span>
                </td>
              </tr>
            </tbody>
          </table>

          <hr />
          <div class="font-bold text-center">THIS IS A LEGITIMATE PROOF OF TRANSACTION</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- (onHide)="onHideOrderDetailsDialog()" -->
<p-dialog
  [maximizable]="true"
  header="Order #{{ selectedOrder.orderCode }}"
  [(visible)]="showOrderDetailsDialog"
  [style]="{ width: '40vw', height: 'auto' }"
  [breakpoints]="dialogBreakpoints"
  [dismissableMask]="true"
  [closeOnEscape]="true"
  modal="true"
  [blockScroll]="true"
  showEffect="fade">
  <div class="p-fluid px-2">
    <div class="card p-1 mb-3">
      <div class="flex col-12">
        <div class="col-6">
          <p class="font-semibold ml-2 mt-2">Table {{ selectedOrder.tableName }}</p>
        </div>
        <div class="col-6 text-right">
          <p class="text-sm font-semibold mr-2 mt-2">{{ selectedOrder.totalPrice | custom }}</p>
        </div>
      </div>
      <div class="col-12" *ngFor="let product of selectedOrder.products; index as i">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon font-semibold">{{ i + 1 }} </span>
          <label pInputText class="font-semibold text-capitalize">{{ product.name }}</label>
        </div>

        <div class="col-12 pr-0 pb-0" *ngFor="let option of product.options; index as j">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon font-semibold"> {{ toLetter(j) }} </span>
            <label pInputText class="text-capitalize">
              {{ option.name + ': ' + option.optionsName }}
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="flex justify-content-end gap-2 mt-4">
      <button
        pButton
        pRipple
        icon="pi pi-times"
        (click)="showOrderDetailsDialog = false"
        label="Close"
        class="w-auto p-button-danger p-button-outlined"
        [disabled]="isLoading"></button>
      <button
        pButton
        pRipple
        icon="pi pi-print"
        class="w-auto p-button-outlined"
        label="Receipt"
        (click)="onClickReceipt()"
        [disabled]="isLoading"></button>
    </div>
  </div>
</p-dialog>

<p-dialog
  [maximizable]="true"
  header="Print Receipt"
  [(visible)]="showPrintReceiptDialog"
  (onHide)="this.form.reset()"
  [contentStyle]="{ overflow: 'visible' }"
  [style]="{ width: '40vw', height: 'auto' }"
  [dismissableMask]="false"
  [closeOnEscape]="false"
  [breakpoints]="dialogBreakpoints"
  modal="true"
  [blockScroll]="true"
  showEffect="fade">
  <div [formGroup]="form" (keyup.enter)="onPrintReceipt()" class="p-fluid px-2">
    <div class="card p-1 mb-3 flex flex-column gap-4 p-4">
      <!-- <div class="col-12"> -->
      <div class="flex col-12 align-items-center justify-content-center gap-3">
        <div class="flex align-items-center" *ngFor="let method of paymentMethods">
          <p-radioButton name="paymentMethod" [value]="method" [inputId]="method.id" formControlName="paymentMethod"></p-radioButton>
          <label [for]="method.id" class="cursor-pointer w-full pl-2">{{ method.name }}</label>
        </div>
      </div>

      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">Rp</span>
        <p-inputNumber
          [min]="0"
          pAutoFocus
          [autofocus]="true"
          placeholder="Received Amount"
          formControlName="receivedAmount"
          inputId="locale-user"
          step="10000">
        </p-inputNumber>
      </div>
      <!-- </div> -->
    </div>

    <div class="flex mt-4 justify-content-end">
      <div class="flex gap-2">
        <button
          pButton
          pRipple
          icon="pi pi-times"
          (click)="showPrintReceiptDialog = false"
          label="Cancel"
          [disabled]="isLoading"
          class="w-auto p-button-danger p-button-outlined"></button>
        <button
          pButton
          pRipple
          icon="pi pi-check"
          label="Print"
          (click)="onPrintReceipt()"
          [disabled]="isLoading"
          class="w-auto p-button-outlined"></button>
      </div>
    </div>
  </div>
</p-dialog>
