<div class="grid">
    <div class="col-12">
        <div class="card">
            <div class="flex align-items-center justify-content-between mb-4">
                <h5 class="category-title">Live Orders</h5>
                <div class="flex gap-2">
                    <button
                        pButton
                        pRipple
                        class="p-button"
                        icon="pi pi-check"
                        label="Mark All as Done"
                        (click)="markAllAsDone()">
                    </button>
                </div>
            </div>
            <p-contextMenu #cm [model]="contextMenus"></p-contextMenu>
            <!-- [loading]="isLoading" -->
            <p-table
                #tb
                dataKey="id"
                (onPage)="onPaginateChange($event)"
                [paginator]="true"
                [paginatorPosition]="'bottom'"
                [pageLinks]="0"
                [rowsPerPageOptions]="rowsPerPageOptions"
                [rows]="rowsPerPageOptions[0]"
                sortField="id"
                [sortOrder]="-1"
                [totalRecords]="pagingInfo.rowCount"
                [lazy]="true"
                [filterDelay]="500"
                (onLazyLoad)="getOrders($event)"
                [value]="orders"
                [rowHover]="true"
                [scrollable]="true"
                scrollDirection="both"
                selectionMode="single"
                [(selection)]="selectedOrder"
                [(contextMenuSelection)]="selectedOrder"
                [contextMenu]="cm"
                responsiveLayout="scroll">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column">
                        <p class="text-right text-sm font-normal">
                            Last updated at: {{ lastUpdated | date: 'MMM d, HH:mm:ss' }}
                        </p>
                    </div>
                </ng-template>
                <ng-template pTemplate="body" let-data let-i="rowIndex">
                    <tr
                        [pSelectableRow]="data"
                        [pContextMenuRow]="data"
                        (click)="viewOrder(data)"
                        [style]="{
                            background: data.isNew ? '#ffcdd2' : '#c8e6c9',
                            color: data.isNew ? '#c63737' : '#256029'
                        }">
                        <td style="min-width: 100px" class="text-left text-capitalize">
                            <div class="flex flex-column">
                                <p class="font-semibold">#{{ data.orderCode }}</p>
                                <p>{{ data.totalPrice | custom }}</p>
                            </div>
                        </td>
                        <td style="min-width: 8rem; text-align: right" class="font-semibold">
                            <div class="flex flex-column">
                                <p>Table {{ data.tableId }}</p>
                                <p>{{ data.createdAt | date: 'MMM d, HH:mm' }}</p>
                            </div>
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                        <td attr.colspan="100%" style="text-align: center"> No order found.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<p-dialog
    [maximizable]="true"
    header="Order #{{ selectedOrder.orderCode }}"
    [(visible)]="showOrderDetailsDialog"
    (onHide)="onHideOrderDetailsDialog()"
    [contentStyle]="{ overflow: 'scroll' }"
    [style]="{ width: '40vw', height: 'auto' }"
    [breakpoints]="dialogBreakpoints"
    [dismissableMask]="true"
    [closeOnEscape]="true"
    modal="true"
    [blockScroll]="true"
    showEffect="fade">
    <div class="p-fluid px-2">
        <div class="card p-1 mb-3">
            <div class="flex col-12">
                <div class="col-6">
                    <p class="font-semibold ml-2 mt-2">Table {{ selectedOrder.tableId }}</p>
                </div>
                <div class="col-6 text-right">
                    <p class="text-sm font-semibold mr-2 mt-2">{{ selectedOrder.totalPrice | custom }}</p>
                </div>
            </div>
            <div class="col-12" *ngFor="let product of selectedOrder.products; index as i">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon font-semibold">{{ i + 1 }} </span>
                    <label pInputText class="font-semibold text-capitalize">{{ product.name }}</label>
                </div>

                <div class="flex flex-column">
                    <div class="col-12 pb-0" *ngFor="let option of product.options; index as j">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon font-semibold"> {{ toAscii(j) }} </span>
                            <label pInputText class="text-capitalize">
                                {{ option.name + ': ' + option.optionsName }}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex justify-content-end gap-2 mt-4">
            <button
                pButton
                pRipple
                icon="pi pi-times"
                (click)="showOrderDetailsDialog = false"
                label="Close"
                class="w-auto p-button-danger p-button-outlined">
            </button>
            <button
                pButton
                pRipple
                icon="pi pi-check"
                class="w-auto p-button-outlined"
                label="Done"
                (click)="markAsDone(selectedOrder)"
                [disabled]="isLoading">
            </button>
        </div>
    </div>
</p-dialog>
