<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="/">
        <img src="assets/layout/images/{{ appMain.config.dark ? 'logo-white' : 'logo-dark' }}.svg" alt="logo" />
        <span>Menu</span>
    </a>

    <a class="p-link layout-menu-button layout-topbar-button" (click)="appMain.toggleMenu($event)">
        <i class="pi pi-bars"></i>
    </a>

    <a class="p-link layout-topbar-menu-button pt-2">
        <i
            pBadge
            severity="danger"
            class="pi pi-shopping-cart p-text-secondary"
            style="font-size: 2rem"
            (click)="onClickCart()"
            [value]="getCountCartItems()">
        </i>
    </a>
</div>
