<div class="layout-wrapper" [ngClass]="styleClass">
  <app-topbar></app-topbar>
  <div class="layout-sidebar">
    <app-menu>
      <app-footer></app-footer>
    </app-menu>
  </div>
  <div class="layout-main-container">
    <div class="layout-main">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- --maskbg: rgba(0, 0, 0, 0.4); -->

  <div *ngIf="menuActiveMobile" class="layout-mask p-component-overlay"></div>
</div>

<app-order-dialog *ngIf="showCartDialog" [showDialog]="showCartDialog" (onShowCartDialogChange)="showCartDialog = $event">
</app-order-dialog>
