<div class="layout-menu-container h-full flex flex-column">
  <div class="w-full flex flex-column" *ngIf="sharedService.isLoggedIn">
    <div class="w-full flex align-items-center justify-content-between">
      <span class="font-apple font-semibold text-sm cursor-default text-uppercase">
        {{ sharedService.user.username }}
      </span>
      <button
        pButton
        pRipple
        type="button"
        icon="pi pi-power-off"
        label=""
        (click)="onLogout()"
        class="p-button-sm p-button-danger p-button-outlined"></button>
    </div>

    <p-divider></p-divider>
  </div>

  <div class="w-full h-full overflow-scroll">
    <ul class="layout-menu" role="menu" (keydown)="onKeydown($event)">
      <ng-container *ngFor="let item of menus; let i = index">
        <li app-menu class="layout-menuitem-category" [item]="item" [index]="i" [root]="true" role="none">
          <div class="layout-menuitem-root-text" [attr.aria-label]="item.label">{{ item.label }}</div>
          <ul role="menu">
            <ng-container *ngFor="let child of item.items">
              <li app-menuitem [item]="child" [index]="i" role="none"></li>
            </ng-container>
          </ul>
        </li>
      </ng-container>
    </ul>
  </div>

  <div class="w-full mt-auto">
    <ng-content></ng-content>
  </div>
</div>
