<button pButton pRipple (click)="convertToPdf()">Print</button>
<!-- <pre>
    <div id="content">
    <div><p>woiii</p></div>
    </div>
    <div>
    <table id="pdfContent" class="m-4">
    <tbody>
    <tr>
    <th>Company</th>
    <th>Contact</th>
    <th>Country</th>
    </tr>
    <tr>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
    </tr>
    <tr>
    <td>Centro comercial Moctezuma</td>
    <td>Francisco Chang</td>
    <td>Mexico</td>
    </tr>
    <tr>
    <td>Ernst Handel</td>
    <td>Roland Mendel</td>
    <td>Austria</td>
    </tr>
    <tr>
    <td>Island Trading</td>
    <td>Helen Bennett</td>
    <td>UK</td>
    </tr>
    <tr>
    <td>Laughing Bacchus Winecellars</td>
    <td>Yoshi Tannamuri</td>
    <td>Canada</td>
    </tr>
    <tr>
    <td>Magazzini Alimentari Riuniti</td>
    <td>Giovanni Rovelli</td>
    <td>Italy</td>
    </tr>
    </tbody>
    </table>
    </div>
</pre> -->

<div id="pdfContent" class="content ml-2 mt-2">
    <div class="receipt">
        <div class="orderNo">#{{ '6A85708B' }}</div>
        <div class="headerSubTitle font-bold py-1"> Order Receipt </div>
        <div id="date">Cafe Nusantara, +(62) 2153873</div>
        <div id="date">Jl. Teratai 3 Blok A6 No.8</div>
        <div id="date">Perumahan Taman Duta, Cisalak</div>
        <div id="date">Depok, Jawa Barat 16416</div>
        <div class="my-2"></div>
        <div id="date">{{ currentDate | date: 'EEEE, MMM d yyyy @ HH:mm:ss (a)' }}</div>

        <hr />

        <div class="products">
            <table class="w-full">
                <tbody>
                    <th class="text-lg pb-2">DINE IN</th>
                    <tr *ngFor="let data of orders">
                        <!-- <td class="w-full"> -->
                        <td class="flex flex-column">
                            <span>{{ data.name }}</span>
                            <div class="flex align-items-center justify-content-center w-full">
                                <div class="w-full text-right">{{ data.price | custom }}</div>
                                <div class="w-full text-right">x{{ data.qty }}</div>
                                <span class="w-full text-right">{{ data.price | custom }}</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <hr />
            <div class="font-bold text-center"> THIS IS A LEGITIMATE PROOF OF TRANSACTION.</div>
        </div>
    </div>
</div>
