<div class="text-center">
  <p-sidebar
    id="formDialog"
    [(visible)]="showDialog"
    (onHide)="hideDialog()"
    position="bottom"
    [blockScroll]="true"
    [dismissible]="true"
    [showCloseIcon]="true"
    [closeOnEscape]="true"
    [style]="bottomSheetStyle"
    [autoZIndex]="true"
    [modal]="true">
    <!-- [baseZIndex]="1000" -->
    <ng-template pTemplate="header">
      <div class="flex justify-content-center w-full" (swipedown)="hideDialog()">
        <p-divider [style]="{ 'width': '50px', 'margin-left': '2rem' }"></p-divider>
      </div>
    </ng-template>
    <ng-template pTemplate="content" [formGroup]="form">
      <div class="grid formgrid px-4">
        <div class="flex justify-content-start w-full mb-4">
          <span class="card-title" *ngIf="!isOrdered">Your Cart</span>

          <div class="flex flex-column w-full" *ngIf="isOrdered">
            <div class="w-full flex align-items-center justify-content-between">
              <span class="font-semibold text-lg">Order ID #{{ data.orderCode }}</span>
              <div class="p-chip text-uppercase font-semibold" [style]="{ 'background-color': data.isServed ? '#9bdcac' : '#dee2e6' }">
                <p class="text-xs p-1 py-2">{{ getOrderStatus(data.isServed, data.status) }}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12">
          <p-scrollPanel
            class="no-scrollbar"
            [style]="{ width: '100%', height: 'auto', maxHeight: '50vh', overflow: 'auto' }"
            formArrayName="products">
            <div *ngIf="products().length === 0" class="flex justify-content-center align-items-center w-full" style="height: 200px">
              <p class="font-semibold">Empty</p>
            </div>

            <div class="my-2" *ngFor="let product of products().controls; index as i" [formGroupName]="i">
              <div class="flex gap-3 w-full">
                <div class="flex flex-column w-full align-items-start justify-space-between gap-2 py-2" formArrayName="options">
                  <span class="font-semibold text-capitalize">{{ product.value['name'] }} </span>

                  <ng-container *ngFor="let option of product.get('options').value; index as j">
                    <div class="text-left text-xs text-capitalize">
                      <span class="truncate"> {{ option.name }}: </span>
                      <span class="truncate"> {{ getOptionValues(option.values) }} </span>
                    </div>
                  </ng-container>

                  <div class="flex w-full justify-content-start mt-auto">
                    <label class="text-sm font-semibold">
                      {{ product.value['totalPrice'] | custom }}
                    </label>
                  </div>
                </div>

                <div class="w-fit">
                  <img
                    [alt]="product.value['name']"
                    [src]="getImageSrc(product.value['image'])"
                    (load)="isLoading = false"
                    class="shadow-4 object-fit-cover"
                    style="border-radius: 1rem"
                    width="80px"
                    height="80px" />
                </div>
              </div>

              <ng-container *ngIf="!isOrdered">
                <div class="p-inputgroup mt-3">
                  <span class="p-inputgroup-addon">
                    <i class="pi pi-comment" style="line-height: 1.25"></i>
                  </span>
                  <input pInputText type="text" placeholder="Leave me a note" formControlName="notes" />
                </div>

                <div class="flex align-items-center justify-content-end gap-3 mt-3">
                  <button pButton pRipple icon="pi pi-trash" class="p-button-text" (click)="removeProduct(i)"></button>
                  <button
                    pButton
                    pRipple
                    icon="pi pi-minus"
                    class="p-button-outlined p-button-rounded"
                    [disabled]="product.value['quantity'] === 1"
                    (click)="decrement(i)"></button>
                  <label class="font-bold">{{ product.value['quantity'] }}</label>
                  <button
                    pButton
                    pRipple
                    icon="pi pi-plus"
                    class="p-button-outlined p-button-rounded p-button-quantity"
                    (click)="increment(i)"></button>
                </div>
              </ng-container>

              <p-divider></p-divider>
            </div>
          </p-scrollPanel>
        </div>

        <div class="col-12 flex flex-col gap-3 py-3 h-auto" *ngIf="products().length > 0">
          <loading-container class="w-full cursor-pointer" [isLoading]="isLoading">
            <div
              pRipple
              class="col flex align-items-center justify-content-between bg-primary hover-effect px-4"
              style="height: 3rem; border-radius: 50px"
              (click)="onSubmit()">
              <label class="w-full font-bold text-center cursor-pointer" *ngIf="isOrdered && data.status !== 'pending'; else payment">
                Close
              </label>

              <ng-template #payment>
                <div>
                  <i class="pi pi-check mr-2 font-bold"></i>
                  <label class="font-bold cursor-pointer">
                    {{ isOrdered ? 'Payment' : 'Checkout' }}
                  </label>
                </div>
                <label class="font-bold cursor-pointer"> {{ form.value['totalPrice'] | custom }} </label>
              </ng-template>
            </div>
          </loading-container>
        </div>
      </div>
    </ng-template>
  </p-sidebar>
</div>
