<div class="grid">
    <div class="col-12">
        <div class="card">
            <div class="flex align-items-center justify-content-between mb-4">
                <h5 class="category-title">Products</h5>
                <div class="flex gap-2">
                    <button
                        pButton
                        pRipple
                        class="p-button"
                        (click)="onEditProduct()"
                        [disabled]="isEmpty(selectedProduct)">
                        Edit
                    </button>
                    <button pButton pRipple class="p-button" (click)="onAddProduct()">Add</button>
                </div>
            </div>
            <!-- scrollHeight="400px" -->
            <!-- [loading]="isLoading" -->
            <p-table
                dataKey="id"
                [paginator]="true"
                [rows]="10"
                pageLinks="3"
                [rowsPerPageOptions]="[10, 20, 50, 100]"
                [totalRecords]="pagingInfo.rowCount"
                [lazy]="true"
                (onLazyLoad)="getProducts($event)"
                [value]="products"
                [rowHover]="true"
                [scrollable]="true"
                scrollDirection="both"
                selectionMode="single"
                [(selection)]="selectedProduct"
                responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 4rem"></th>
                        <!-- <th pSortableColumn="name" pFrozenColumn> Name <p-sortIcon field="name"></p-sortIcon> </th> -->
                        <th pSortableColumn="name"> Name <p-sortIcon field="name"></p-sortIcon> </th>
                        <th>Image</th>
                        <th>Options</th>
                        <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon></th>
                        <th pSortableColumn="category">Category <p-sortIcon field="category"></p-sortIcon></th>
                        <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-product>
                    <tr [pSelectableRow]="product">
                        <td>
                            <p-tableCheckbox [pSelectableRow]="product" [value]="product"></p-tableCheckbox>
                        </td>
                        <td style="min-width: 100px" class="product-badge">{{ product.name }}</td>
                        <td>
                            <img
                                onerror="this.src='assets/images/default_product.png'"
                                [alt]="product.name"
                                [src]="
                                    product.image
                                        ? env.publicPath + product.image
                                        : env.imagePath + '/default_product.png'
                                "
                                class="shadow-4 object-fit-cover"
                                width="80px"
                                height="80px" />
                        </td>
                        <td style="min-width: 8rem">Sugar, Toppings</td>
                        <td style="min-width: 8rem">{{ product.price | currency: 'IDR' }}</td>
                        <td style="min-width: 10rem">{{ getCategoryOfProduct(product.categoryId) }}</td>
                        <td>
                            <span class="product-badge">
                                {{ product.status ? 'Active' : 'Inactive' }}
                            </span>
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                        <td [attr.colspan]="'100%'" style="text-align: center"> No data found.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>

    <div class="col-12">
        <div class="card">
            <div class="flex align-items-center justify-content-between mb-4">
                <h5 class="category-title">Categories</h5>
                <div class="flex gap-2">
                    <button
                        pButton
                        pRipple
                        class="p-button"
                        (click)="onEditCategory()"
                        [disabled]="isEmpty(selectedCategory)">
                        Edit
                    </button>
                    <button pButton pRipple class="p-button" (click)="onAddCategory()">Add</button>
                </div>
            </div>
            <p-tree [value]="categories" selectionMode="single" [(selection)]="selectedCategory"></p-tree>
        </div>
    </div>
</div>

<!-- PRODUCT DIALOG -->
<p-dialog
    [header]="selectedProduct ? 'Edit Product' : 'Add Product'"
    (onHide)="this.productForm.reset()"
    [(visible)]="showProductDialog"
    [style]="{ width: '40vw', height: '100%' }"
    [breakpoints]="dialogBreakpoints"
    [blockScroll]="true"
    [dismissableMask]="false"
    modal="true"
    showEffect="fade">
    <div [formGroup]="productForm" class="p-fluid px-2">
        <div class="grid my-3">
            <div class="col-12 flex justify-content-center" *ngIf="productForm.controls['image'].value">
                <img
                    [src]="getPreviewImg()"
                    alt="preview"
                    class="shadow-4 object-fit-cover"
                    width="200px"
                    height="200px" />
            </div>
            <div class="col-12 flex justify-content-end mb-2">
                <p-fileUpload
                    #fileUpload
                    mode="basic"
                    accept="image/*"
                    [customUpload]="true"
                    (uploadHandler)="onSelectImage($event, fileUpload)"
                    [auto]="true"
                    chooseLabel="Choose Image">
                </p-fileUpload>
            </div>
            <div class="col-12 flex justify-content-between">
                <div class="field-checkbox mb-0">
                    <p-checkbox label="Active" formControlName="status" binary="true"></p-checkbox>
                </div>
            </div>
            <div class="col-12">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-pencil" style="line-height: 1.25"></i></span>
                    <input
                        pInputText
                        type="text"
                        placeholder="Name"
                        formControlName="name"
                        style="text-transform: capitalize" />
                </div>
            </div>
            <div class="col-12">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-hashtag"></i></span>
                    <input
                        pInputText
                        type="text"
                        placeholder="Code"
                        formControlName="code"
                        (keydown.space)="$event.preventDefault()"
                        class="text-uppercase" />
                </div>
            </div>
            <div class="col-12">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-tags"></i></span>
                    <p-dropdown
                        *ngIf="showProductDialog"
                        [options]="categories"
                        placeholder="Category"
                        optionLabel="label"
                        optionValue="id"
                        formControlName="categoryId"
                        [showClear]="true">
                    </p-dropdown>
                </div>
            </div>

            <div class="col-12">
                <!-- <div class="p-inputgroup flex justify-content-between"> -->
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-user-edit"></i></span>
                    <input pInputText type="text" placeholder="No options" formControlName="options" />
                    <button pButton pRipple class="p-button" (click)="onClickAddOptions()">Add</button>
                </div>
            </div>
            <div class="col-12">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-comment"></i></span>
                    <!-- <input pInputText type="text" placeholder="Description" formControlName="description" /> -->
                    <!-- <textarea pInputTextarea placeholder="Description" autoSize formControlName="description">
                    </textarea> -->
                    <textarea
                        pInputTextarea
                        type="text"
                        placeholder="Description"
                        rows="2"
                        formControlName="description"
                        autoResize="autoResize"
                        class="text-capitalize"
                        >
                    </textarea>
                </div>
            </div>
            <div class="col-12">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">Rp</span>
                    <!-- <input pInputText type="number" placeholder="Price" step="10000" formControlName="price" /> -->
                    <p-inputNumber
                        [min]="0"
                        [showButtons]="true"
                        formControlName="price"
                        required
                        placeholder="Price"
                        inputId="locale-user"
                        step="10000">
                    </p-inputNumber>
                </div>
            </div>
        </div>
        <div class="flex mt-3" [ngClass]="selectedProduct ? 'justify-content-between' : 'justify-content-end'">
            <div *ngIf="selectedProduct">
                <button
                    pButton
                    pRipple
                    icon="pi pi-trash"
                    (click)="onDeleteProduct()"
                    class="p-button-danger p-button-outlined">
                </button>
            </div>
            <div class="flex gap-2">
                <button
                    pButton
                    pRipple
                    icon="pi pi-times"
                    (click)="showProductDialog = false"
                    label="Cancel"
                    class="w-auto p-button-danger p-button-outlined">
                </button>
                <button
                    pButton
                    pRipple
                    icon="pi pi-check"
                    (click)="onSubmit()"
                    label="Save"
                    class="w-auto p-button-outlined">
                </button
            ></div>
        </div>
    </div>
</p-dialog>
<!-- PRODUCT DIALOG -->

<!-- CATEGORY DIALOG -->
<p-dialog
    [header]="selectedCategory ? 'Edit Category' : 'Add Category'"
    [(visible)]="showCategoryDialog"
    (onHide)="this.categoryForm.reset()"
    [contentStyle]="{ overflow: 'visible' }"
    [style]="{ width: '40vw', height: 'auto' }"
    [breakpoints]="dialogBreakpoints"
    [blockScroll]="true"
    [dismissableMask]="false"
    modal="true"
    showEffect="fade">
    <div [formGroup]="categoryForm" (keyup.enter)="onSubmit()" class="p-fluid px-2">
        <div class="col-12">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-pencil" style="line-height: 1.25"></i></span>
                <input pInputText type="text" placeholder="Name" formControlName="label" />
            </div>
        </div>

        <div class="flex mt-3" [ngClass]="selectedCategory ? 'justify-content-between' : 'justify-content-end'">
            <button
                *ngIf="selectedCategory"
                pButton
                pRipple
                (click)="onDeleteCategory()"
                class="p-button-danger p-button-outlined"
                icon="pi pi-trash">
            </button>
            <div class="flex gap-2">
                <button
                    pButton
                    pRipple
                    icon="pi pi-times"
                    (click)="showCategoryDialog = false"
                    label="Cancel"
                    class="w-auto p-button-danger p-button-outlined">
                </button>
                <button
                    pButton
                    pRipple
                    icon="pi pi-check"
                    (click)="onSubmit()"
                    label="Save"
                    class="w-auto p-button-outlined">
                </button>
            </div>
        </div>
    </div>
</p-dialog>
<!-- CATEGORY DIALOG -->

<!-- OPTION DIALOG -->
<p-dialog
    header="Add Options"
    [(visible)]="showAddProductOptionsDialog"
    [contentStyle]="{ overflow: 'visible' }"
    [style]="{ width: '40vw', height: 'auto' }"
    [breakpoints]="dialogBreakpoints"
    [blockScroll]="true"
    [dismissableMask]="false"
    modal="true"
    showEffect="fade">
    <div [formGroup]="categoryForm" class="p-fluid px-2">
        <div class="col-12">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-pencil" style="line-height: 1.25"></i></span>
                <input pInputText type="text" placeholder="Name, e.g Milk" formControlName="label" />
            </div>
        </div>
        <div class="flex justify-content-between">
            <div class="col-6">
                <input pInputText type="text" placeholder="Type, e.g Extra Milk" formControlName="label" />
            </div>
            <div class="col-6">
                <p-inputNumber
                    [min]="0"
                    formControlName="label"
                    placeholder="Price, free = 0"
                    inputId="locale-user"
                    step="10000">
                </p-inputNumber>
            </div>
        </div>
        <div class="flex justify-content-end gap-2 mr-2 mt-3">
            <button
                pButton
                pRipple
                icon="pi pi-times"
                (click)="showAddProductOptionsDialog = false"
                label="Cancel"
                class="w-auto p-button-danger p-button-outlined">
            </button>
            <button
                pButton
                pRipple
                icon="pi pi-check"
                label="Save"
                (click)="showAddProductOptionsDialog = false"
                class="w-auto p-button-outlined">
            </button>
        </div>
    </div>
</p-dialog>
<!-- OPTION DIALOG -->
