<div class="grid">
    <div class="col-12">
        <div class="card">
            <div class="flex align-items-center justify-content-between mb-4">
                <h5 class="category-title">Products</h5>
                <div class="flex gap-2">
                    <button pButton pRipple class="p-button" (click)="onEditProduct()" [disabled]="!selectedProduct">
                        Edit
                    </button>
                    <button pButton pRipple class="p-button" (click)="onAddProduct()">Add</button>
                </div>
            </div>
            <p-table
                [loading]="isLoading"
                [paginator]="true"
                [rows]="10"
                [rowHover]="true"
                [value]="products"
                [scrollable]="true"
                scrollDirection="both"
                scrollHeight="400px"
                selectionMode="single"
                [(selection)]="selectedProduct"
                dataKey="id"
                responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 4rem"></th>
                        <!-- <th pSortableColumn="name" pFrozenColumn> Name <p-sortIcon field="name"></p-sortIcon> </th> -->
                        <th pSortableColumn="name"> Name <p-sortIcon field="name"></p-sortIcon> </th>
                        <th>Image</th>
                        <th>Options</th>
                        <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon></th>
                        <th>Category</th>
                        <th pSortableColumn="inventoryStatus">
                            Status <p-sortIcon field="inventoryStatus"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-product>
                    <tr [pSelectableRow]="product">
                        <td>
                            <p-tableCheckbox [pSelectableRow]="product" [value]="product"></p-tableCheckbox>
                        </td>
                        <!-- <td pFrozenColumn style="min-width: 12rem">{{ product.name }}</td> -->
                        <td style="min-width: 12rem">{{ product.name }}</td>
                        <td>
                            <img
                                src="{{ basePath }}{{ product.image }}"
                                [alt]="product.name"
                                class="shadow-4"
                                style="object-fit: cover"
                                width="80px"
                                height="80px" />
                        </td>
                        <td style="min-width: 8rem">options...</td>
                        <td style="min-width: 8rem">{{ product.price | currency: 'IDR' }}</td>
                        <td style="min-width: 10rem">{{ product.category }}</td>
                        <!-- <td>
                            <span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">
                                {{ product.inventoryStatus }}
                            </span>
                        </td> -->
                    </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                        <td [attr.colspan]="'100%'" style="text-align: center"> No data found.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>

    <div class="col-12">
        <div class="card">
            <div class="flex align-items-center justify-content-between mb-4">
                <h5 class="category-title">Categories</h5>
                <div class="flex gap-2">
                    <button pButton pRipple class="p-button" (click)="onEditCategory()" [disabled]="!selectedCategory">
                        Edit
                    </button>
                    <button pButton pRipple class="p-button" (click)="onAddCategory()">Add</button>
                </div>
            </div>
            <p-tree [value]="categories" selectionMode="single" [(selection)]="selectedCategory"></p-tree>
        </div>
    </div>
</div>

<p-dialog
    [header]="selectedProduct ? 'Edit Product' : 'Add Product'"
    [(visible)]="showProductDialog"
    [style]="{ width: '40vw' }"
    [breakpoints]="dialogBreakpoints"
    [blockScroll]="true"
    dismissableMask="true"
    modal="modal"
    showEffect="fade">
    <div [formGroup]="productForm" class="p-fluid px-2">
        <div class="grid my-3">
            <div class="col-12 flex justify-content-center" *ngIf="productForm.controls['image'].value">
                <img
                    [src]="getPreviewImg()"
                    class="shadow-4"
                    alt="preview"
                    style="object-fit: cover"
                    width="200px"
                    height="200px" />
            </div>
            <div class="col-12 flex justify-content-end mb-2">
                <p-fileUpload
                    #fileUpload
                    mode="basic"
                    accept="image/*"
                    [customUpload]="true"
                    (uploadHandler)="onSelectImage($event, fileUpload)"
                    [auto]="true"
                    chooseLabel="Choose Image">
                </p-fileUpload>
            </div>

            <!-- <div class="grid field">
                <label htmlFor="name">Name</label>
                <div class="col-12 md:col-10">
                    <input pInputText type="text" placeholder="Name" formControlName="name" />
                </div>
            </div> -->
            <div class="col-12">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                    <input pInputText type="text" placeholder="Name" formControlName="name" />
                </div>
            </div>
            <div class="col-12">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                    <input pInputText type="text" placeholder="Code" formControlName="code" />
                </div>
            </div>
            <div class="col-12">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                    <input pInputText type="text" placeholder="Category" formControlName="category" />
                </div>
            </div>
            <div class="col-12">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                    <input pInputText type="text" placeholder="Description" formControlName="description" />
                </div>
            </div>
            <div class="col-12">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">Rp</span>
                    <input pInputText type="number" placeholder="Price" step="10000" formControlName="price" />
                </div>
            </div>
        </div>
        <div class="flex mt-3" [ngClass]="selectedProduct ? 'justify-content-between' : 'justify-content-end'">
            <div *ngIf="selectedProduct">
                <button
                    pButton
                    pRipple
                    icon="pi pi-trash"
                    (click)="showProductDialog = false"
                    class="p-button-danger p-button-outlined">
                </button>
            </div>
            <div class="flex gap-2">
                <button
                    pButton
                    pRipple
                    icon="pi pi-times"
                    (click)="showProductDialog = false"
                    label="Cancel"
                    class="w-auto p-button-danger p-button-outlined">
                </button>
                <button
                    pButton
                    pRipple
                    icon="pi pi-check"
                    (click)="onSubmit()"
                    label="Save"
                    class="w-auto p-button-outlined">
                </button
            ></div>
        </div>
    </div>
</p-dialog>

<p-dialog
    [header]="selectedCategory ? 'Edit Category' : 'Add Category'"
    [(visible)]="showCategoryDialog"
    [style]="{ width: '40vw' }"
    [breakpoints]="dialogBreakpoints"
    [blockScroll]="true"
    dismissableMask="true"
    modal="modal"
    showEffect="fade">
    <div [formGroup]="categoryForm" (keyup.enter)="onSubmit()" class="p-fluid px-2 mt-3">
        <div class="grid field mb-2">
            <label htmlFor="name" class="col-2 md:col-2">Name</label>
            <div class="col-10 md:col-10">
                <input pInputText id="name" type="text" placeholder="Name" formControlName="label" />
            </div>
        </div>
        <div class="grid field mb-2">
            <label htmlFor="order" class="col-2 md:col-2">Parent</label>
            <div class="col-10 md:col-10">
                <input pInputText id="order" type="number" placeholder="Parent" formControlName="order" />
            </div>
        </div>
        <div class="grid field mb-2">
            <label htmlFor="order" class="col-2 md:col-2">Order</label>
            <div class="col-10 md:col-10">
                <input pInputText id="order" type="number" placeholder="Order" formControlName="order" />
            </div>
        </div>
        <div class="grid field mb-2">
            <label htmlFor="order" class="col-2 md:col-2">Description</label>
            <div class="col-10 md:col-10">
                <input pInputText id="order" type="number" placeholder="Description" formControlName="order" />
            </div>
        </div>

        <div class="flex mt-5" [ngClass]="selectedCategory ? 'justify-content-between' : 'justify-content-end'">
            <button
                *ngIf="selectedCategory"
                pButton
                pRipple
                icon="pi pi-trash"
                class="p-button-danger p-button-outlined"
                (click)="showCategoryDialog = false">
            </button>
            <div class="flex gap-2">
                <button
                    pButton
                    pRipple
                    icon="pi pi-times"
                    (click)="showCategoryDialog = false"
                    label="Cancel"
                    class="w-auto p-button-danger p-button-outlined">
                </button>
                <button
                    pButton
                    pRipple
                    icon="pi pi-check"
                    (click)="onSubmit()"
                    label="Save"
                    class="w-auto p-button-outlined">
                </button>
            </div>
        </div>
    </div>
</p-dialog>
