<div class="grid">
    <div class="col-12">
        <div class="card">
            <div class="flex align-items-center justify-content-between mb-4">
                <h5 class="category-title">Products</h5>
                <div class="flex gap-2">
                    <button
                        pButton
                        pRipple
                        class="p-button"
                        (click)="onEditProduct()"
                        [disabled]="isEmpty(selectedProduct)">
                        Edit
                    </button>
                    <button pButton pRipple class="p-button" (click)="onAddProduct()">Add</button>
                </div>
            </div>
            <p-table
                [loading]="isLoading"
                [paginator]="true"
                [rows]="10"
                [rowHover]="true"
                [value]="products"
                [scrollable]="true"
                scrollDirection="both"
                scrollHeight="400px"
                selectionMode="single"
                [(selection)]="selectedProduct"
                dataKey="id"
                responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 4rem"></th>
                        <!-- <th pSortableColumn="name" pFrozenColumn> Name <p-sortIcon field="name"></p-sortIcon> </th> -->
                        <th pSortableColumn="name"> Name <p-sortIcon field="name"></p-sortIcon> </th>
                        <th>Image</th>
                        <th>Options</th>
                        <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon></th>
                        <th>Category</th>
                        <th pSortableColumn="inventoryStatus">
                            Status <p-sortIcon field="inventoryStatus"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-product>
                    <tr [pSelectableRow]="product">
                        <td>
                            <p-tableCheckbox [pSelectableRow]="product" [value]="product"></p-tableCheckbox>
                        </td>
                        <!-- <td pFrozenColumn style="min-width: 12rem">{{ product.name }}</td> -->
                        <td style="min-width: 12rem">{{ product.name }}</td>
                        <td>
                            <img
                                [src]="'assets/demo/images/product/' + product.image"
                                [alt]="product.name"
                                width="100"
                                class="shadow-4" />
                        </td>
                        <td style="min-width: 8rem">options...</td>
                        <td style="min-width: 8rem">{{ product.price | currency: 'IDR' }}</td>
                        <td style="min-width: 10rem">{{ product.category }}</td>
                        <td>
                            <span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">
                                {{ product.inventoryStatus }}
                            </span>
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                        <td [attr.colspan]="'100%'" style="text-align: center"> No data found.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>

    <div class="col-12">
        <div class="card">
            <div class="flex align-items-center justify-content-between mb-4">
                <h5 class="category-title">Categories</h5>
                <div class="flex gap-2">
                    <button
                        pButton
                        pRipple
                        class="p-button"
                        (click)="onEditCategory()"
                        [disabled]="isEmpty(selectedCategory)">
                        Edit
                    </button>
                    <button pButton pRipple class="p-button" (click)="onAddCategory()">Add</button>
                </div>
            </div>
            <p-tree [value]="categories" selectionMode="single" [(selection)]="selectedCategory"></p-tree>
        </div>
    </div>
</div>

<p-dialog
    [header]="isEmpty(selectedProduct) ? 'Add Product' : 'Edit Product'"
    [(visible)]="showProductDialog"
    [style]="{ width: '40vw' }"
    [breakpoints]="dialogBreakpoints"
    [blockScroll]="true"
    dismissableMask="true"
    modal="modal"
    showEffect="fade">
    <div [formGroup]="productForm" class="p-fluid px-2 mt-3">
        <div class="grid field">
            <label htmlFor="name" class="col-12 mb-2 md:col-2 md:mb-0">Name</label>
            <div class="col-12 md:col-10">
                <input pInputText id="name" type="text" placeholder="Name" formControlName="label" />
            </div>
        </div>
        <div class="grid field">
            <label htmlFor="email3" class="col-12 mb-2 md:col-2 md:mb-0">Order</label>
            <div class="col-12 md:col-10">
                <input pInputText id="email3" type="number" placeholder="Order" formControlName="order" />
            </div>
        </div>
        <div class="flex justify-content-between mt-5">
            <div *ngIf="isEmpty(selectedProduct)"></div>
            <button
                *ngIf="!isEmpty(selectedProduct)"
                pButton
                pRipple
                icon="pi pi-trash"
                (click)="showProductDialog = false"
                class="p-button-danger p-button-outlined">
            </button>
            <div class="flex justify-content-end gap-2">
                <button
                    pButton
                    pRipple
                    icon="pi pi-times"
                    (click)="showProductDialog = false"
                    label="Cancel"
                    class="w-auto p-button-danger p-button-outlined">
                </button>
                <button
                    pButton
                    pRipple
                    icon="pi pi-check"
                    (click)="onSaveProduct()"
                    label="Save"
                    class="w-auto p-button-outlined">
                </button
            ></div>
        </div>
    </div>
</p-dialog>

<p-dialog
    [header]="isEmpty(selectedCategory) ? 'Add Category' : 'Edit Category'"
    [(visible)]="showCategoryDialog"
    [style]="{ width: '40vw' }"
    [breakpoints]="dialogBreakpoints"
    [blockScroll]="true"
    dismissableMask="true"
    modal="modal"
    showEffect="fade">
    <div [formGroup]="categoryForm" (keyup.enter)="onSubmit()" class="p-fluid px-2 mt-3">
        <div class="grid field">
            <label htmlFor="name" class="col-12 mb-2 md:col-2 md:mb-0">Name</label>
            <div class="col-12 md:col-10">
                <input pInputText id="name" type="text" placeholder="Name" formControlName="label" />
            </div>
        </div>
        <div class="grid field">
            <label htmlFor="email3" class="col-12 mb-2 md:col-2 md:mb-0">Order</label>
            <div class="col-12 md:col-10">
                <input pInputText id="email3" type="number" placeholder="Order" formControlName="order" />
            </div>
        </div>
        <div class="flex justify-content-between mt-5">
            <div *ngIf="isEmpty(selectedCategory)"></div>
            <button
                *ngIf="!isEmpty(selectedCategory)"
                pButton
                pRipple
                icon="pi pi-trash"
                class="p-button-danger p-button-outlined"
                (click)="showCategoryDialog = false">
            </button>
            <div class="flex justify-content-end gap-2">
                <button
                    pButton
                    pRipple
                    icon="pi pi-times"
                    (click)="showCategoryDialog = false"
                    label="Cancel"
                    class="w-auto p-button-danger p-button-outlined">
                </button>
                <button
                    pButton
                    pRipple
                    icon="pi pi-check"
                    (click)="onSubmit()"
                    label="Save"
                    class="w-auto p-button-outlined">
                </button>
            </div>
        </div>
    </div>
</p-dialog>
