<div>
    <p-sidebar
        id="formDialog"
        [(visible)]="showDialog"
        (onHide)="hideDialog()"
        position="bottom"
        [blockScroll]="true"
        [dismissible]="true"
        [showCloseIcon]="true"
        [closeOnEscape]="true"
        [style]="getSidebarStyle()"
        [baseZIndex]="1000">
        <ng-template pTemplate="header">
            <div class="flex justify-content-center w-full" (swipedown)="hideDialog()">
                <p-divider [style]="{ 'width': '50px', 'margin-left': '2rem' }"></p-divider>
            </div>
        </ng-template>
        <ng-template pTemplate="content" [formGroup]="cartForm">
            <div class="grid formgrid px-4">
                <h5 class="category-title mb-4">Your Cart</h5>

                <div class="col-12">
                    <p-scrollPanel [style]="{ width: '100%', height: '60vh', overflow: 'scroll' }">
                        <div formArrayName="products">
                            <div
                                *ngFor="let product of products().controls; index as i"
                                [formGroupName]="i"
                                class="card my-3">
                                <img
                                    [alt]="product.value.name"
                                    [src]="
                                        product.value.image
                                            ? env.publicPath + product.value.image
                                            : env.imagePath + '/default_product.png'
                                    "
                                    (load)="isLoading = false"
                                    class="shadow-4 object-fit-cover"
                                    style="border-radius: 1rem"
                                    width="60px"
                                    height="60px" />
                                <span class="text-md font-semibold">{{ i + 1 }}. {{ product.value.name }}</span>

                                <!-- <div formArrayName="options">
                                    <div
                                        *ngFor="let option of options(i).controls; index as j"
                                        [formGroupName]="i"
                                        class="card my-3">

                                        <div class="flex justify-content-between pb-2">
                                            <span class="text-md font-semibold">{{ option.value.name }}</span>
                                            <p class="text-xs font-semibold" style="color: grey">
                                                {{ option.value.required === true ? '*required' : '*optional' }}
                                            </p>
                                        </div>

                                        <div formArrayName="values" class="cursor-pointer">
                                            <div
                                                *ngFor="let optionValue of optionValues(i, j).controls; index as k"
                                                [formGroupName]="j"
                                                class="flex flex-col align-items-center justify-content-between"
                                                style="padding-top: 10px">
                                                <label [for]="'selected' + i + j + k" class="text-sm w-full">
                                                    {{ optionValue.value.value }}
                                                </label>
                                                <div class="flex align-items-center gap-2">
                                                    <label class="text-xs font-semibold">
                                                        {{
                                                            optionValue.value.price === 0
                                                                ? 'Free'
                                                                : '+' + (optionValue.value.price | custom)
                                                        }}
                                                    </label>
                                                    <p-checkbox
                                                        [inputId]="'selected' + i + j + k"
                                                        binary="true"
                                                        formControlName="selected"
                                                        class="text-sm mr-2"></p-checkbox>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </p-scrollPanel>
                </div>

                <div class="col-12 flex flex-col gap-3 py-3">
                    <button
                        pButton
                        icon="pi pi-whatsapp"
                        class="p-button-sm p-button-outlined p-button-rounded"
                        (click)="onClickWa()">
                    </button>
                    <div
                        class="col flex align-items-center justify-content-between bg-primary px-4"
                        style="border-radius: 50px"
                        (click)="insertToCart()">
                        <label class="font-semibold">+ Add to Cart</label>
                        <label class="font-bold">
                            {{ cartForm.get('totalPrice').value | custom }}
                        </label>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-sidebar>
</div>
