:host ::ng-deep {
    .p-paginator {
        .p-paginator-first {
            display: none;
            // pointer-events: none;
            // color: gray;
        }
        .p-paginator-prev {
            display: none;
            // pointer-events: none;
            // color: gray;
        }
        .p-paginator-next {
            display: none;
            // pointer-events: none;
            // color: gray;
        }
        .p-paginator-last {
            display: none;
            // pointer-events: none;
            // color: gray;
        }
    }
}
