
::ng-deep {
    .card {
      padding: 1.5rem;
    }

    .p-carousel-next {
      width: 1rem !important;
      height: 1rem !important;
    }

    .p-carousel-prev {
      width: 1rem !important;
      height: 1rem !important;
    }

    .p-carousel-indicators {
      display: none !important;
    }
  }
