<loading-container [isLoading]="isLoading">
  <div class="w-full p-fluid px-2">
    <div class="card p-1 mb-3">
      <div class="flex col-12">
        <div class="col-6">
          <p class="font-semibold ml-2 mt-2">{{ data.tableName }}</p>
        </div>
        <div class="col-6 text-right">
          <p class="text-sm font-semibold mr-2 mt-2">{{ data.totalPrice | currency }}</p>
        </div>
      </div>
      <div class="col-12" *ngFor="let product of data.products; index as i">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon font-semibold">{{ i + 1 }} </span>
          <label pInputText class="font-semibold text-capitalize">{{ product.name }}</label>
        </div>

        <div class="col-12 pr-0 pb-0" *ngFor="let option of product.options; index as j">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon font-semibold"> {{ toLetter(j) }} </span>
            <label pInputText class="text-capitalize"> {{ option.name + ': ' + getOptionValuesName(option.values) }} </label>
          </div>
        </div>
      </div>
    </div>

    <div class="flex justify-content-end gap-2 mt-4">
      <button pButton pRipple icon="pi pi-times" (click)="close()" label="Close" class="w-auto p-button-danger p-button-outlined"></button>

      <button
        *ngIf="isOrderPaid(data.status); else paymentBtn"
        pButton
        pRipple
        icon="pi pi-print"
        class="w-auto p-button-outlined"
        label="Receipt"
        (click)="onClickReceipt()"
        [disabled]="isLoading"></button>

      <ng-template #paymentBtn>
        <button
          pButton
          pRipple
          icon="pi pi-money-bill"
          class="w-auto p-button-outlined"
          label="Payment"
          (click)="onClickPayment()"
          [disabled]="!paymentMethods.length || isLoading"></button>
      </ng-template>
    </div>
  </div>
</loading-container>

<app-print-dialog
  class="w-full h-full"
  targetId="pdfContent"
  [showDialog]="showPrintDialog"
  [isDisabledPrint]="isLoading || receivedAmountCtrl.invalid"
  (onShowDialogChange)="showPrintDialog = $event"
  (onPrinting)="isPrinting = $event">
  <div class="order-receipt">
    <div id="pdfContent">
      <div class="headerSubTitle font-bold pb-2">Order Receipt</div>
      <!-- <hr /> -->
      <div class="flex flex-column gap-1 align-items-center text-xs">
        <div>{{ businessConfig['name'] }}, +{{ sharedService.phone }}</div>
        <div *ngIf="businessConfig['address1']">{{ businessConfig['address1'] }}</div>
        <div *ngIf="businessConfig['address2']">{{ businessConfig['address2'] }}</div>
        <div *ngIf="businessConfig['address3']">{{ businessConfig['address3'] }}</div>
      </div>

      <!-- <div id="date" class="mt-2">{{ data.createdAt | date: 'EEEE, MMM dd yyyy @ HH:mm:ss' }}</div> -->

      <hr />

      <div class="flex align-items-center justify-content-between text-sm mx-2">
        <div># {{ data.orderCode }}</div>
        <div>{{ data.createdAt | date: 'dd/MM/yy HH:mm a' }}</div>
      </div>
      <hr />

      <div class="products">
        <table class="w-full">
          <tbody>
            <th class="text-lg pb-4">DINE IN</th>
            <tr *ngFor="let data of data.products">
              <td class="products-list">
                <span>{{ data.name }}</span>
                <div class="flex w-full align-items-center justify-content-between gap-2">
                  <span class="text-start">X{{ data.quantity }}</span>
                  <span class="text-end">{{ data.price | currency }}</span>
                </div>
              </td>
            </tr>
            <hr />
            <tr>
              <td class="flex justify-content-between">
                <span>SUBTOTAL</span>
                <span>{{ data.totalPrice | currency }}</span>
              </td>
            </tr>
            <tr>
              <td class="flex justify-content-between">
                <span>TAXES</span>
                <span>{{ data.totalPrice - data.totalPrice | currency }}</span>
              </td>
            </tr>
            <tr>
              <td class="flex justify-content-between font-bold">
                <span>TOTAL</span>
                <span>{{ data.totalPrice | currency }}</span>
              </td>
            </tr>
            <hr />
            <tr>
              <td class="flex justify-content-end">
                <span>{{ data?.paymentMethod?.name }}</span>
              </td>
            </tr>
            <tr>
              <td class="flex align-items-center justify-content-between">
                <span class="w-full">RECEIVED AMOUNT</span>
                <ng-template #receivedAmount>
                  <span>{{ receivedAmountCtrl.value | currency }}</span>
                </ng-template>
                <p-inputNumber
                  *ngIf="!isOrderPaid(data.status) && !isPrinting; else receivedAmount"
                  autofocus
                  (keyup.enter)="printDialogComponent.onClickPrint()"
                  [placeholder]="receivedAmountCtrl.value | currency"
                  [formControl]="receivedAmountCtrl">
                </p-inputNumber>
              </td>
            </tr>
            <tr>
              <td class="flex justify-content-between">
                <span>CHANGES</span>
                <span>{{ orderChanges | currency }}</span>
              </td>
            </tr>
          </tbody>
        </table>

        <hr />
        <div class="font-bold text-center">THIS IS A LEGITIMATE PROOF OF TRANSACTION</div>
      </div>
    </div>
  </div>
</app-print-dialog>
