<loading-container [isLoading]="isLoading">
  <div class="w-full p-fluid px-2">
    <div class="card p-1 mb-3">
      <div class="flex col-12">
        <div class="col-6">
          <p class="font-semibold ml-2 mt-2">{{ data.tableName }}</p>
        </div>
        <div class="col-6 text-right">
          <p class="text-sm font-semibold mr-2 mt-2">{{ data.totalPrice | currency }}</p>
        </div>
      </div>
      <div class="col-12" *ngFor="let product of data.products; index as i">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon font-semibold">{{ i + 1 }} </span>
          <label pInputText class="font-semibold text-capitalize">{{ product.name }}</label>
        </div>

        <div class="col-12 pr-0 pb-0" *ngFor="let option of product.options; index as j">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon font-semibold"> {{ toLetter(j) }} </span>
            <label pInputText class="text-capitalize"> {{ option.name + ': ' + getOptionValuesName(option.values) }} </label>
          </div>
        </div>
      </div>
    </div>

    <div class="flex justify-content-end gap-2 mt-4">
      <button pButton pRipple icon="pi pi-times" (click)="close()" label="Close" class="w-auto p-button-danger p-button-outlined"></button>

      <button
        *ngIf="isOrderPaid(data.status); else paymentBtn"
        pButton
        pRipple
        icon="pi pi-print"
        class="w-auto p-button-outlined"
        label="Receipt"
        (click)="onClickReceipt()"
        [disabled]="isLoading"></button>

      <ng-template #paymentBtn>
        <button
          pButton
          pRipple
          icon="pi pi-money-bill"
          class="w-auto p-button-outlined"
          label="Payment"
          (click)="onClickPayment()"
          [disabled]="!paymentMethods.length || isLoading"></button>
      </ng-template>
    </div>
  </div>
</loading-container>

<app-print-dialog [showDialog]="showPrintDialog" (onShowDialogChange)="showPrintDialog = $event" class="w-full h-full">
  <div class="order-receipt">
    <div id="pdfContent">
      <div class="orderNo">{{ data.tableName }} #{{ data.orderCode }}</div>
      <div class="headerSubTitle font-bold py-1">Order Receipt</div>
      <div id="date">{{ env.shop.name }}, +{{ env.shop.phone }}</div>
      <div id="date">{{ env.shop.address.line1 }}</div>
      <div id="date">{{ env.shop.address.line2 }}</div>
      <div id="date">{{ env.shop.address.line3 }}</div>
      <div class="my-2"></div>
      <div id="date">{{ data.createdAt | date: 'EEEE, MMM d yyyy @ HH:mm:ss (a)' }}</div>

      <hr />

      <div class="products">
        <table class="w-full">
          <tbody>
            <th class="text-lg pb-2">DINE IN</th>
            <tr *ngFor="let data of data.products">
              <td class="flex flex-column">
                <span>{{ data.name }}</span>
                <div class="flex align-items-center justify-content-center w-full">
                  <span class="w-full text-right">{{ data.price | currency }}</span>
                  <span class="w-full text-right">x{{ data.quantity }}</span>
                  <span class="w-full text-right">{{ data.price | currency }}</span>
                </div>
              </td>
            </tr>
            <hr />
            <tr>
              <td class="flex justify-content-between">
                <span>SUBTOTAL</span>
                <!-- <span>{{ data.subTotal | currency }}</span> -->
              </td>
            </tr>
            <tr>
              <td class="flex justify-content-between">
                <span>TAXES</span>
                <!-- <span>{{ data.taxes | currency }}</span> -->
              </td>
            </tr>
            <tr>
              <td class="flex justify-content-between font-bold">
                <span>TOTAL</span>
                <!-- <span>{{ data.total | currency }}</span> -->
              </td>
            </tr>
            <hr />
            <tr>
              <td class="flex justify-content-end">
                <span>{{ data?.paymentMethod?.name }}</span>
              </td>
            </tr>
            <tr>
              <td class="flex justify-content-between">
                <span>RECEIVED AMOUNT</span>
                <!-- <span>{{ data.receivedAmount | currency }}</span> -->
              </td>
            </tr>
            <tr>
              <td class="flex justify-content-between">
                <span>CHANGES</span>
                <!-- <span>{{ data.changes | currency }}</span> -->
              </td>
            </tr>
          </tbody>
        </table>

        <hr />
        <div class="font-bold text-center">THIS IS A LEGITIMATE PROOF OF TRANSACTION</div>
      </div>
    </div>
  </div>
</app-print-dialog>
